/*Google Font taken for Heading Element*/

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }

*{
    background-color: black;
}

.motivPoster{
    margin-top: 5%;
    text-align: center;
    color: white;
}
  
img{
    border: 2px solid white;
}